{% extends 'base.html' %}
<span>
  {% block title %} Welcome {% endblock title %}
</span>
<span>
  {% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3 text-center">Newsfeed</h1>
      <p class="lead text-center">
        Welcome to the Newsfeed. Browse feeds from CNN, Fox News, BBC and IOC.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="card border-dark mb-3">
          <div class="card-header text-center">
            <a
              href="{{ url_for('main.cnn') }}"
              class="text-dark text-decoration-none"
              >CNN News Feed</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="card border-dark mb-3">
          <div class="card-header text-center">
            <a
              href="{{ url_for('main.bbc') }}"
              class="text-dark text-decoration-none"
              >BBC News Feed</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="card border-dark mb-3">
          <div class="card-header text-center">
            <a
              href="{{ url_for('main.fox') }}"
              class="text-dark text-decoration-none"
              >Fox News Feed</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="card border-dark mb-3">
          <div class="card-header text-center">
            <a
              href="{{ url_for('main.ioc') }}"
              class="text-dark text-decoration-none"
              >IOC News Feed</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</span>
